In [1]:
pwd

'C:\\Users\\Darvin'

In [2]:
cd D:\Darvin\python training

D:\Darvin\python training

In [3]:
import pandas as pd

In [6]:
data=pd.read_csv('mlr.csv')
x=data.iloc[:,1:6]
x.head()

   Item_Weight  Item_Fat_Content  Item_Visibility  Item_MRP  Item_Outlet_Sales
0       19.200                 1         0.005620  226.6062          5191.2426
1        5.175                 1         0.029663  105.2622          2328.9684
2        9.800                 1         0.045523   35.0874           352.8740
3       16.000                 1         0.099833   87.4856           263.6568
4        7.090                 0         0.007256   50.4034           340.2238

In [8]:
# Standardizing the features
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(x)

In [10]:
x

array([[ 1.37290439,  1.30654916, -1.23992459,  1.3999321 ,  1.82163498],
       [-1.6695969 ,  1.30654916, -0.70333162, -0.54547067, -0.01320659],
       [-0.66627651,  1.30654916, -0.34935981, -1.67052217, -1.27996857],
       ...,
       [ 1.27528403, -0.76537495, -0.59534138,  1.16130347,  2.19295672],
       [-0.16732799, -0.76537495, -0.98768794,  0.62653895,  1.25953069],
       [-0.9146661 ,  1.30654916,  0.61414387, -0.26789999, -0.10795765]])

In [11]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(x)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [13]:
x2= pca.transform(x)
x2

array([[ 2.43075457, -0.1585273 ],
       [-0.4319953 ,  0.98658588],
       [-2.09202043,  0.75306418],
       ...,
       [ 2.48227569, -1.14964237],
       [ 1.40565007, -1.00119772],
       [-0.37209853,  1.58065935]])

In [15]:
x2 = pd.DataFrame(x2)
x2

            0         1
0    2.430755 -0.158527
1   -0.431995  0.986586
2   -2.092020  0.753064
3   -1.570872  1.115297
4   -1.870356 -1.023804
..        ...       ...
799  0.791908  0.884132
800 -0.909969  0.678073
801  2.482276 -1.149642
802  1.405650 -1.001198
803 -0.372099  1.580659

[804 rows x 2 columns]

In [16]:
x2.columns = ['PC1','PC2']
x2.head()

        PC1       PC2
0  2.430755 -0.158527
1 -0.431995  0.986586
2 -2.092020  0.753064
3 -1.570872  1.115297
4 -1.870356 -1.023804

In [23]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(x)
x2= pca.transform(x)
x2
x2 = pd.DataFrame(x2)
x2
x2.columns = ['PC1','PC2']
x2.head()

        PC1       PC2
0  2.430755 -0.158527
1 -0.431995  0.986586
2 -2.092020  0.753064
3 -1.570872  1.115297
4 -1.870356 -1.023804

In [24]:
print (pca.explained_variance_ratio_)

[0.33964839 0.2107301 ]